.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 50px 56px;
    color: #ffffff;
    max-width: 980px;
    margin: 0 auto;
}

.welcome_sign-menu {
    display: none;
}

@media (max-width: 750px) {
    .welcome_sign-buttons {
        display: none;
    }
    .welcome_sign-menu {
        display: initial;
    }
}

.welcome_title {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 500;
    width: 100%;
    margin: 0 0 11px;
}

.welcome_subtitle {
    font-size: 14px;
    line-height: 1.43;
    width: 100%;
    margin: 0;
}

.welcome_cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

@media (max-width: 850px) {
    .welcome_cards {
        flex-direction: column;
        height: 840px;
    }
}