<app-header></app-header>
<app-sign-buttons></app-sign-buttons>
<app-banner></app-banner>
<div class="welcome">
  <p class="welcome_title">
    Private ShowCase est une plateforme web permettant la mise en relation de musiciens avec des particuliers qui
    souhaitent organiser des concerts chez eux.
  </p>
  <p class="welcome_subtitle">
    Les spectateurs sont directement invités par l’ogranisateur, une participation pourra être demandée pour le
    cachet des artistes.
  </p>
  <div class="welcome_cards">
    <app-welcome-card picture="musicien-circle" title="Musiciens" subtitle="Proposez des concerts privés"></app-welcome-card>
    <app-welcome-card picture="spectateur-circle" title="Spectateurs" subtitle="Vivez une expérience unique"></app-welcome-card>
    <app-welcome-card picture="organisateur-circle" title="Organisateurs" subtitle="Partagez vos coups de coeurs"></app-welcome-card>
  </div>
</div>