.banner {
    object-fit: cover;
    position: relative;
    width: 100vw;
    height: 22.97vw;
    overflow: hidden;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
}

.banner_img {
    position: absolute;
    width: 100%;
    object-fit: contain;
}
